# credentials to connect to Oracle DB

# include the path to the wallet directory that you downloaded for eMart
ORACLE_JDBC_EMART_URL=X 
# include the path to the wallet directory that you downloaded for eDepot
ORACLE_JDBC_EDEPOT_URL=X
ORACLE_DB_USER=X
ORACLE_DB_PASSWORD=X
